body {
  background: #eaeaea;
  font-family: Arial;
  margin: 0;
}

.container {
  width: 75%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav nav a {
  margin: 0 10px;
  color: black;
  text-decoration: none;
}

.hero {
  margin: 40px 0;
}

.hero button {
  margin-top: 15px;
  background: black;
  color: white;
  padding: 10px;
  border: none;
}

.section-title {
  margin: 30px 0 10px;
}

.products,
.categories,
.features {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product,
.cat,
.feature,
.banner {
  background: #ccc;
  border-radius: 10px;
}

.big {
  width: 100%;
  height: 150px;
}
.medium {
  width: 48%;
  height: 150px;
}
.small {
  width: 48%;
  height: 120px;
}
.large {
  width: 100%;
  height: 200px;
}

.cat {
  width: 18%;
  height: 150px;
}
.feature {
  width: 23%;
  height: 120px;
}

.banner {
  padding: 40px;
  text-align: center;
  margin: 40px 0;
}

.footer {
  margin-top: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.copy {
  margin-top: 20px;
  text-align: center;
}
